body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #0f0f0f;
    color: white;
  }
  
  section {
    padding: 80px 10%;
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .btn {
    padding: 12px 25px;
    background: #00c6ff;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    margin-top: 15px;
    font-weight: 600;
  }
  
  .btn:hover {
    background: #009ed1;
  }
  .tags{
    margin-bottom: 15px;
  }
   .btn-small {
    padding: 8px 15px;
    font-size: 14px;
    background: #00c6ff;
    border-radius: 4px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
  }
  
  a { color: white; }
  
  