.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .hero span {
    color: #00c6ff;
  }
  
  .profileimg{
        width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }